h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 24px 0;
}

.bold-paragraph {
  color: #318a3c;
}

#bold {
  background-color: #5f8e5f;
  color: rgb(239, 239, 239);
}

img {
  width: 100%;
}
